{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>Marvel Characters</h1>
        <div class="row">
            
            {% for character in characters %}
                {% if character.description and character.thumbnail.path and character.thumbnail.extension %}
                    <div class="col-md-6 mb-4">
                        <a href="/character/{{ character.id }}" style="text-decoration: none; color: inherit;">
                            <div class="card p-3 bg-light" style="height: 250px; overflow-y: hidden;">
                                <div class="d-flex">
                                    <img src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}" alt="{{ character.name }}" style="width: 218px; height: 218px; border-radius: 3%;">
                                    <div class="ml-2">
                                        <h6 style="margin-bottom: 10px; margin-left: 10px;">{{ character.name }}</h6>
                                        <p style="margin-left: 10px;">{{ character.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
{% endblock %}