{% extends "base.html" %}

{% block content %}
<style>
.card:hover {
    transform: scale(1.02);
    transition: transform .1s;
}
</style>
<div class="container mt-5">
    <h1 class="d-flex justify-content-between align-items-center">
        Marvel Characters
        <form id="searchForm" class="form-inline">
            <input id="searchInput" class="form-control" type="text" name="search" placeholder="Search characters" value="{{ request.GET.search }}">
            <input class="btn btn-primary ml-2" type="submit" value="Search">
        </form>
    </h1>
    <div id="charactersList">
        {% include 'characters_list_partial.html' %}
    </div>
</div>

<script>
$(document).ready(function() {
    $('#searchForm').submit(function(event) {
        event.preventDefault();

        var searchQuery = $('#searchInput').val();
        $.ajax({
            type: 'GET',
            url: '{% url "characters_list" %}',
            data: {
                'search': searchQuery
            },
            success: function(data) {
                $('#charactersList').html(data.characters_html);
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ': ' + xhr.responseText);
            }
        });
    });
});
</script>
{% endblock %}