<div id="charactersList" class="row">
    {% for character in characters %}
        {% if character.description and character.thumbnail.path and character.thumbnail.extension %}
            <div class="col-md-6 mb-4"> <!-- Adjust the 'col-md-6' class to control the number of cards per row -->
                <a href="/character/{{ character.id }}" style="text-decoration: none; color: inherit;">
                    <div class="card bg-light border shadow p-3" style="height: 250px; overflow-y: hidden;">
                        <div class="d-flex">
                            <img src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}" alt="{{ character.name }}" style="width: 218px; height: 218px; border-radius: 3%;">
                            <div class="ml-2">
                                <h6 style="margin-bottom: 10px; margin-left: 10px;">{{ character.name }}</h6>
                                <p style="margin-left: 10px;">{{ character.description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
