{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3 border shadow">
                <img src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}" alt="{{ character.name }}" class="card-img-top">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-light border shadow p-3">
                <div class="card-body">
                    <h1 class="card-title">{{ character.name }}</h1>
                    <p class="card-text">{{ character.description }}</p>
                    <h5 class="card-subtitle mb-2 text-muted">Comics:</h5>
                    <ul class="list-group list-group-flush">
                    {% for comic in character.comics.items %}
                        <li class="list-group-item">{{ comic.name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="{% url 'add_to_favorites' character.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Add to Favorites</button>
    </form>
</div>
<div class="mt-5">
    <h2>Discussion</h2>
    <form method="post" action="{% url 'create_post' character.id %}">
        {% csrf_token %}
        <div class="form-group bg-light shadow">
            <textarea name="content" class="form-control" placeholder="Write a post..." required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
        <br>
        <br>
    </form>


    {% for post in posts %}
        <div class="post">
            <p>{{ post.content }}</p>
            <div class="username">
                <h3> ~ {{ post.user.username }}</h3>
            </div>
            {% for reply in post.replies.all %}
                <div class="reply">
                    <p class="reply-content">{{ reply.content }}</p>
                    <div class="reply-username">
                        <h4> ~ {{ reply.user.username }}</h4>
                    </div>
                </div>
            {% endfor %}
            <button class="reply-button" type="button" data-toggle="collapse" data-target="#replyForm{{post.id}}" aria-expanded="false" aria-controls="replyForm{{post.id}}">
                Reply to {{ post.user.username }}
            </button>
            <div class="collapse mt-2" id="replyForm{{post.id}}">
                <form method="post" action="{% url 'create_reply' post.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="content" class="form-control" placeholder="Write a reply..." required></textarea>
                    </div>
                    <div class="submit-button-container">
                        <button type="submit" class="btn btn-secondary">Submit Reply</button>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
