{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
        <br>
        <br>
        <br>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Welcome {{ user.username }}</h1>
                <p class="lead text-muted">Discover the stories of all your favorite heroes and villains, from the Avengers to the X-Men and beyond. Explore iconic characters, and immerse yourself in the extraordinary world of Marvel Comics!</p>
                <p>
                    <a href="/characters_list" class="btn btn-primary my-2">Search Characters</a>
                    <a href="#" class="btn btn-secondary my-2">View Favourites</a>
                </p>
            </div>
        </section>
    {% else %}
        <h1>Login</h1>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <form>
                <div class="mb-3">
                  <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-secondary">Login</button>
              </form>
        </form>
    {% endif %}

{% endblock %}